{% extends 'glowny.html'  %}
{% load bootstrap %}
{% block tytul %} Zaloguj się {% endblock %}

{% block strona %} 
    
    <div class="card" style="width: 26rem;">
        <div class="card-body">
          <h5 class="card-title">Zaloguj</h5>
          <form method="post">
            {% csrf_token %}
            {{ form|bootstrap }}
            <button type="submit" class="btn btn-primary">Zaloguj <i class="fa-solid fa-arrow-right-to-bracket"></i></button>
          </form>
        </div>
      </div>
{% endblock %}